body
{
	background:#141b23 url(images/Bitmap@2x.png);
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: right top;
}
.nav 
{
	font-size: 15px;
	font-family: "Franklin Gothic";
	margin-left: 55px;
	margin-top: 65px;
	list-style-type: none;


}
.nav li
{
	display: inline;
	
}
.nav a
{
	opacity: 0.87;
	text-decoration: none;
	color: #9da6b5;
    padding-right: 15px;
}
.UM 
{
	font-size: 17px;
	
}

.night
{
	font-family:  "Franklin Gothic";
	margin-top: 80px;
	margin-left: 140px;
	font-size: 25px;
	color: #fff;
	font-weight: 100;
	opacity: 0.90;
}
.parag 
{
	width: 467px;
	height: 230px;
	font-size: 13px;
	color: #fff;
	font-weight: 200;
	font-family: "Franklin Gothic";
	margin-top: -15px;
	margin-left: 141px;
	opacity: 0.87;
	line-height: 1.4;

}
.foot
{
	font-family: "Franklin Gothic";
	color: #fff;
	opacity: 0.27;
	margin-top: 180px;
	margin-left: 90px;
	margin-bottom: 54px;
	font-size: 12px;
}